// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color:#C1C8CB;
  padding-bottom:50px
}

.field{
  input{
    height:20px;
    padding:5px 20px;
    border-radius:5px;
    border:1px solid #89BAD;
  }
}
h2{
  margin-bottom:10px;
  font-size:30px;
  color:black;
  
}

.list_user>a{
      width: 80px;
      margin-left: 40px;
      height: 15px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 1em;
      line-height: 1em;
      border: 1px solid #89BAD3;
      color: #333;
      -webkit-border-radius: 0;
      -webkit-background-clip: padding-box;
      border-radius: 5px;
      margin-bottom: 20px;
      margin-top: 10px;
      position: absolute;
      text-align: center;
      padding: 7px;
      background-color: #dddddd;
      &:hover{
        background-color:#FDFDFD
      }
}
#add_form{
  margin:50px;
  width:75%
}
.button_group{
    width: 430px;
    margin-left: 100px;
    button{
    margin-right:10px;
  }
  }
.list_user{
  padding:20px 50px;
  table tr{
    th{width:150px;background-color:#EBE3D1;color:blue;font-size:14px;border-right:1px solid white}
    th:last-child{width:500px; border:none}
    td{width:150px;background-color:white;color:black;font-size:12px;border-right:1px solid gray;border-bottom:1px solid gray;text-align:center}
  }
} 
.active_user{
  background-color:white
} 
.add_user{
    margin-left:5%;
    width:20%;
    height:100%;
  .actions{
    input{
      width:100px;
      margin-left:160px;
      height:30px;
      cursor:pointer
    }
    input:hover{
      background-color: white;
  }
  }
  a:hover{
      background-color: #dddddd;
  }
  a{
      width: 80px;
      margin-left: 40px;
      height: 15px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 1em;
      line-height: 1em;
      border: 1px solid #89BAD3;
      color: #333;
      -webkit-border-radius: 0;
      -webkit-background-clip: padding-box;
      border-radius: 5px;
      margin-bottom: 20px;
      margin-top: -60px;
      position: absolute;
      text-align: center;
      padding: 7px;
      background-color: #FDFDFD;
    
  }
  .user_image{
    width:200px;
    height:200px;
    float:left;
    margin:50px 100px;
  img{
    
    border:2px solid #89BAD3;
    
  }
    
  }
  textarea{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1em;
    height:70px;
    color: #333;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    border-radius: 0;
    border:none;
    margin-bottom:20px;
    width: 105%;
    border: 1px solid #89BAD3;
    border-radius:5px;
    
  }
  input{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1em;
    border: 1px solid #89BAD3;
    color: #333;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    border-radius: 5px;
    margin-bottom:20px;
    width: 92%;
  }
  span{
    background-color:white;
    font-size: 1em;
    line-height: 1em;
    color: #333;
    padding: 0.5em;
    border: 1px solid #89BAD3;
    border-radius:5px;
    margin-left:10px;
    
  }
  p{
    color:#39C;
    font-size:1.5em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
    margin-bottom:16px;
      
  }
  .name{
    width:150px;
    height:auto;
    margin-right:50px;
    float:left;
  }
  .element{
    float:left;
    width:300px;
    height:auto;
  }
  
}

.edit_user{
  .actions{
    input{
      width:100px;
      margin-left:100px;
      height:30px;
      cursor:pointer
    }
    input:hover{
      background-color: white;
  }
  }
  a:hover{
      background-color: #dddddd;
  }
  a{
      width: 80px;
      margin-left: 40px;
      height: 15px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 1em;
      line-height: 1em;
      border: 1px solid #89BAD3;
      color: #333;
      -webkit-border-radius: 0;
      -webkit-background-clip: padding-box;
      border-radius: 5px;
      margin-bottom: 20px;
      margin-top: 0px;
      position: absolute;
      text-align: center;
      padding: 7px;
      background-color: #FDFDFD;
    
  }
  a.last-child{
      margin-left: 140px;
  }
  
}

.show_user{
  margin:5% 35%;
  p{
    margin-bottom:20px;
    b{
      margin-left:30px;
    }
  }
}
